* {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.img-container {
    margin: auto;
}

.google {
    margin-top: 180px;
    margin-bottom: 20px;
}

.form-container {
    margin: auto;
}

form input:focus {
    outline: none;
}

input:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

input {
    height: 40px;
    width: 500px;
    padding: 0px 40px;
    margin-bottom: 20px;
    border: 1px solid rgba(201, 202, 201, 0.973);
    border-radius: 50px;
}

button {
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.search-btn-container {
    text-align: center;
}

.nav-bar {
    font-size: 13px;
    margin-top: 24px;
    margin-left: 18px;
    margin-right: 10px;
    color: #000;
}

.nav-list a {
    color: rgb(0,0,0);
}

ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

.nav-left {
    float: left;
    padding-right: 15px;
}

.nav-right {
    float: right;
    padding-left: 15px;
}

li {
    opacity: 0.75;
    vertical-align: middle;
}

footer {
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #dadce0;
    min-width: 400px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    font-size: 14px;
    margin-left: -27px;
    white-space: nowrap;
}

footer a {
    color: #70757a;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.footer-list li {
    display: inline-block;
    padding-left: 27px;
}

.footer-right {
    margin-right: 30px;
    min-width: 30%;
    text-align: right;
}

.footer-left {
    margin-left: 30px;
    min-width: 30%;
    text-align: left;
}